*{
    margin: 0;
    padding: 0;
    font-family: monteserrat;
}

.main {
    margin-top: 20px;
    margin-left: 30% ;
    border: 2px solid black;
    width: 300px;
    background-color: black;
    padding: 5px;
}

.input {
    width: 98.7%;
    height: 40px;
    font-weight: bolder;
    font-size:x-large;
}

.button-top {
    margin-top: 7px;

}

.btn {
    width: 50px;
    height: 80px;
    margin-bottom: 5px;
    border: none;
    font-weight: bolder;
    font-size: larger;
    
}

.btn:hover, .clrbtn:hover {
  color: white;
  background-color: red;
  cursor: pointer;
}

.clrbtn{
    width: 82px;
    height: 335px;
    float: right;
    margin: 0px 1px 5px 0px;
    border: none;
    font-weight: bolder;
    font-size: larger;
}